/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color :#a6290d; 
}

body 
{
    background-color: #ffe6d7;
}

nav .nav-item{
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #57342d;
}

p{
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #57342d;
}
h1{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a6290d;
    margin-bottom: 30px; 
}

h2{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a6290d;
    padding: 20px; 
}

h3{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a6290d;
    padding: 20px; 
}
select{
    margin-bottom: 10px; 
}

.btn-primary{
    background-color:#a6290d;
    border-color: #a6290d;
    margin: 10px;
    border-radius: 10px;
}

.btn-primary:hover{
    background-color:#b97a68;
    border-color: #b97a68;
}

.btn-primary:focus:active{
    background-color:#fff5ee;
    border-color: #b97a68;
    color: #b97a68;
}

.btn-primary:active{
    background-color:#fff5ee;
    border-color: #b97a68;
    color: #b97a68;
}

.alert.success {
  background-color: #6fa675;
  color: #06521b;
}

.alert.error {
  background-color: #f59f9f;
  color: #9e0303;
}

.card{
    padding:10px;
    margin: 10px;
}

.card-title{
   color: #9e0303; 
   padding: 10px;
   margin: 20px;
}

.btn{
    background-color:#a6290d;
    border-color: #a6290d; 
    margin: 10px;
    border-radius: 10px;
}

.btn:hover{
    background-color:#b97a68;
    border-color: #b97a68;
}

.btn:focus{
    background-color:#fff5ee;
    border-color: #b97a68;
    color: #b97a68;
}

.jar {
    width: 100px;
    text-align: center;
}

img{
    padding: 20px;
}

.chart-container {
    width: 100%;
    max-width: 450px;
    margin: auto;
}