{% extends "layout.html" %}

{% block title %}
    Budget
{% endblock %}

{% block main %}
    <h1> Your budget</h1>
    <div class = "card">
        <h2 class = "card-title">This is your current budget</h2>
        <p>Income = {{current_income | usd}}</p>
        <p>Savings = {{current_savings | usd}}</p>
        {% for jar in jars %}
        <p>{{jar.jar_name}} = {{jar.amount | usd}}</p>
        {% endfor %}
    </div>

    <h2 class = "card-title">Create your Budget</h2>
    <div class = "card">
        <h3>Add your expected income</h3>
        <form action = "budget_income" method ="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name ="income" placeholder="$0.00" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Expected income</button>
        </form>
    </div>
    <div class = "card">
        <h3 class = "card-title">Add your expected savings</h2>
        <form action = "budget_savings" method = "post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name ="savings" placeholder="$0.00" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Expected savings</button>
        </form>
    </div>
    <div class = "card">
        <h2 class = "card-title">Add your expected jar amounts</h2>
        <div class="d-flex flex-wrap gap-3">
            {% for jar in jars %}
                <div class="d-flex flex-column align-items-center">
                    <img src = "/static/jar-empty.svg" style = "max-width: 60%" name = "{{jar.jar_name}}" class = "align-middle">
                    <p class = "mt-2">{{jar.jar_name}}</p>
                    <form action = "/budget_jars" method = "post">
                        <div class="mb-3">
                            <input type="hidden" name="jar_name" value="{{jar.jar_name}}">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name ="jar_amount" placeholder="$0.00" type="text">
                        </div>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                </div>
            {% endfor %} 
        </div>      
    </div>
{% endblock %}