{% extends "layout.html" %}

{% block title %}
    Add Income
{% endblock %}

{% block main %}
    <div class="card">
        <h2 class="card-title">Add your income</h2>
        <form action="/income" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="income" placeholder="$0.00" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add your income</button>
        </form>
        <h3>How are you saving?</h3>
        <form action="/savings" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="savings" placeholder="Add your expected savings" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
    
{% endblock %}