{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-lg-6">
                <h2>Available income</h2>
                <img src="/static/jar-empty.svg" class="img-fluid" name = "bgjar">
                <p>Your remaining income is: {{balance|usd}}</p>
            </div>
            <div class = "col-lg-6">
                <div class = "card">
                    <h2 class = "card-title">Modify your jars</h2>
                    <form class = "card-body" action ="/actual" method = "post">
                        <div class="mb-3">
                            <select class="form-select mx-auto w-auto" name="jar">
                                <option disabled selected>Jar</option>
                                {% for jar in jars %}
                                    <option value = "{{jar.jar_name}}">{{jar.jar_name}}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select mx-auto w-auto" name="action">
                                <option disabled selected>Action</option>
                                <option value = "Add">Add Money</option>
                                <option value = "Extract">Extract Money</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="amount" placeholder="Amount" type="number">
                        </div>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class = "container-fluid">
        <h1>Your jars</h1>
        <div class = "card">
            <div class="d-flex flex-wrap gap-3">
                {% for jar in jars %}
                    <div class="d-flex flex-column align-items-center">
                        <img src = "/static/jar-empty.svg" style = "max-width: 60%" name = "{{jar.jar_name}}" class = "align-middle">
                        <p class = "mt-2">{{jar.jar_name}}</p>
                        <p class = "mt-2">{{jar.amount|usd}}</p>
                    </div>
                {% endfor %}
                    <div class="d-flex flex-column align-items-center">
                        <img src = "/static/jar-empty.svg" style = "max-width: 60%" name = "savings" class = "align-middle">
                        <p class = "mt-2">Savings</p>
                        <p class = "mt-2">{{savings | usd}}</p>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}