{% extends "layout.html" %}

{% block title %}
    Jars
{% endblock %}

{% block main %}
    <div class = "container-fluid">
        <div class = "row g-0">
            <div class = "col-sm-6 col-md-8">
                <h1>Your jars</h1>
                <div class="d-flex flex-wrap gap-3">
                    {% for jar in jars %}
                        <div class="d-flex flex-column align-items-center">
                            <button type="button" class="btn btn-primary btn-sm" disabled>{{jar.jar_name}}</button>
                            <form action ="/delete" method = "post">
                                <input name = "id" type = "hidden" value="{{jar.id}}">
                                <button type = "submit" class="btn btn-primary btn-sm">Delete</button>
                            </form>
                        </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class = "card">
                    <h3>Add a Jar</h3>
                    <form action = "/add" method="post">
                        <input autocomplete="off" name = "name" placeholder = "Jar name" type = "text">
                        <button type="submit" class="btn btn-primary btn-sm" name = "add">+</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
