{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block main %}
    <div class = "container-fluid">
        <h1> Hello {{username}}!</h1>
        <div class = "container">
            <div class = "row">
                <div class = "col-sm">
                    <div class="card">
                        <h2 class="card-title">This is how it's going</h2>
                        <p>Income: {{actual.income | usd}}</p>
                        <p>Savings: {{actual.savings | usd}} </p>
                        <p>Total Jars: {{actual.jars | usd}} </p>
                        <p>Remains: {{actual.balance | usd}}</p>
                    </div>
                </div>
                <div class = "col-sm">
                    <div class="card">
                        <h2 class="card-title">This is what you budgeted</h2>
                        <p>Income: {{budget.income | usd}}</p>
                        <p>Savings: {{budget.savings | usd}} </p>
                        <p>Total Jars: {{budget.jars | usd}} </p>
                        <p>Remains: {{budget.balance | usd}}</p>
                    </div>
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-sm">
                    <div class="card">
                        <h2 class="card-title">These are your current expenses</h2>
                        <div class="chart-container">
                            <canvas id="jarChart"></canvas>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm">
                    <div class="card">
                        <h2 class="card-title">Budget vs Actual</h2>
                        <div class="chart-container">
                            <canvas id="budgetvsactualChart"></canvas>
                        </div>
                    </div>
                    <div class = "card">
                        <h2>Monthly Trends</h2>
                        <div class="chart-container">
                            <canvas id = "MonthlyTrendChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    const Palette = ['#a6290d','#b97a68','#a21a44', '#852f68', '#5b4176', '#582b39','#574240','#a86561'];
    
    //Donut chart
        fetch('/api/jar_distribution')
        .then(res=>{
            if (!res.ok){
                throw new Error(`HTTP ${res.status}`);
            }
                return res.json(); })
        
        .then(data=>{
            const labels = data.labels
            const values = data.values

        new Chart(document.getElementById("jarChart"),{
            type: "doughnut",
            data: {
            labels: labels,
            datasets: [{
                data: values,
            backgroundColor: function(context){
                const dataIndex = context.dataIndex;

                return Palette[dataIndex % Palette.length];
            }
            }]
        }
        });
    })
    .catch (error=> console.error('Error fetching revenue', error));

    //Bar chart
        fetch('/api/budgetvsactual')
        .then(res=>{
            if (!res.ok){
                throw new Error(`HTTP ${res.status}`);
            }
            return res.json(); })
        
        .then(data=>{
            const labels = data.labels
            const actual = data.actual
            const budget = data.budget
        
        new Chart(document.getElementById("budgetvsactualChart"),{
            type: "bar",
            data: {
                labels: labels,
                datasets: [
                    { label: "actual", data: actual,
                        backgroundColor: "#a6290d"
                    },
                    { label: "budget", data: budget, 
                        backgroundColor: "#b97a68"
                    }
                ]
            }
        });
    })
    .catch (error=> console.error('Error fetching revenue', error));

    //Monthly trend
    fetch('/api/monthlytrends')
        .then(res=>{
            if (!res.ok){
                throw new Error(`HTTP ${res.status}`);
            }
            return res.json(); })
        
        .then(data=>{
            const labels = data.labels
            const income = data.income
            const savings = data.savings
            const jars = data.jars
        
        new Chart(document.getElementById("MonthlyTrendChart"),{
            type: "line",
            data: {
                labels: labels,
                datasets: [
                    {label:"income", data: income,
                        backgroundColor: "#a21a44"
                    },
                    {label:"savings", data:savings,
                        backgroundColor: "#852f68"
                    },
                    {label: "jars", data: jars,
                        backgroundColor: "#5b4176"
                    }
                ]
            }
        });
    })
    .catch (error=> console.error('Error fetching revenue', error));
    </script>
{% endblock %}